.container, .header {
    margin: auto;
    max-width: 768px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
// button {
//     background: linear-gradient(-5deg, #9356DC, #FF79DA );
//     box-shadow: 1px 5px 12px #bbb;
//     color: #fff;
//     border-radius: 18px;
//     border: none;
//     padding: 10px 20px;
// }
// button:hover {
//     background: linear-gradient(-5deg, #FF79DA, #9356DC  );
// }
.header {
    display: flex;
    flex-direction: column;
    
}
.header h1 {
    justify-content: center;
    display: flex;
}
.header .nav {
    justify-content: center;
    display: flex;
    background: #eaeaea;
    box-shadow: 1px 5px 12px #bbb;

   
}
.fonctionnement {
    ul {
        padding: 0;
        position: relative;
        margin: 0 20px;
        li {
            padding: 15px 20px;
            background: lighten($colour-grey, 47%);
            box-shadow: 1px 5px 12px #bbb;
            border-radius: 15px;
            list-style: none;
            margin: 15px 0;
            color: #fff;
        }
        span{
            position: absolute;
            left: -10px;
            border-radius: 50%;
            background: #9356DC;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
        }
        i {
            color: #7e7e7e;
            padding: 0 20px;
        }
        a {
            text-decoration: none;
            color: #000;
        }
    }
}


.reserver {
    text-align: center;
}
section > div{
    margin: 15px;
}
.reserver ,.restaurants {
    background: lighten($colour-grey, 47%);
    padding: 25px 0;
}
.card {
    border-radius: 20px;
    overflow: hidden;
    background: #fff;
    box-shadow: 1px 5px 12px #bbb;
    img {
        object-fit: cover;
        width: 100%;
    }
    .container-text {
        padding: 10px;
    }
}


@media only screen and (min-width: 768px) {
    .container, .header {
        background: red;
    }
}