.container, .header {
  margin: auto;
  max-width: 768px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.header {
  display: flex;
  flex-direction: column;
}

.header h1 {
  justify-content: center;
  display: flex;
}

.header .nav {
  justify-content: center;
  display: flex;
  background: #eaeaea;
  box-shadow: inset 0px 3px 10px #bbb;
  padding: 15px;
}
.header .nav li {
  list-style: none;
}

.fonctionnement ul {
  padding: 0;
  position: relative;
  margin: 0 20px;
}
.fonctionnement ul li {
  position: relative;
  padding: 15px 20px;
  background: #f6f6f6;
  box-shadow: 1px 5px 12px #bbb;
  border-radius: 15px;
  list-style: none;
  margin: 15px 0;
  color: #fff;
}
.fonctionnement ul span {
  position: absolute;
  left: -10px;
  top: calc(50% - 10px);
  border-radius: 50%;
  background: #9356DC;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.fonctionnement ul i {
  color: #7e7e7e;
  padding: 0 20px;
}
.fonctionnement ul a {
  text-decoration: none;
  color: #000;
  font-weight: 300;
}

.reserver {
  text-align: center;
}

section > div {
  margin: 15px;
}

.reserver, .restaurants {
  background: #f6f6f6;
  padding: 25px;
}

.card {
  border-radius: 20px;
  overflow: hidden;
  background: #fff;
  box-shadow: 1px 5px 12px #bbb;
}
.card img {
  object-fit: cover;
  width: 100%;
}
.card .container-text {
  padding: 10px;
  display: flex;
}
.card .container-title {
  flex-basis: 80%;
  flex-shrink: 1;
}
.card .container-favorit {
  flex-basis: 20%;
  flex-shrink: 1;
  position: relative;
}
.card .container-favorit::before {
  display: flex;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f004";
  width: 21px;
  height: 15px;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}
.card .container-favorit:hover::before {
  -webkit-text-fill-color: inherit;
  -webkit-text-stroke-color: inherit;
  -webkit-text-stroke-width: 0;
  color: linear-gradient(-5deg, #9356DC, #FF79DA);
  color: #9356DC;
}

@media only screen and (min-width: 768px) {
  .container, .header {
    background: red;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.4;
}

h1, .logo {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  font-size: 5rem;
}

h2, h3, h4 {
  font-family: "Roboto", sans-serif;
  margin: 7px 0;
}

h3 {
  color: #7e7e7e;
  font-size: 2rem;
  font-weight: 300;
}

.card h3 {
  color: #000;
}

textarea {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 2rem;
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
}

.btn, button {
  padding: 1.5rem;
  background: linear-gradient(#FF79DA, #9356DC);
  color: #fff;
  box-shadow: 1px 5px 12px #bbb;
  cursor: pointer;
  border-radius: 22px;
  border: none;
  padding: 10px 20px;
}
.btn:hover, button:hover {
  background: linear-gradient(#9356DC, #FF79DA);
}
.btn--full-width, button--full-width {
  width: 100%;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
