*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

.container, .header {
  margin: auto;
  max-width: 768px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.4;
}

h1, .logo {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  font-size: 5rem;
}

h2, h3, h4 {
  font-family: "Roboto", sans-serif;
  margin: 5px 0;
}

h3 {
  color: #7e7e7e;
  font-size: 2rem;
  font-weight: 300;
}

.card h3 {
  color: #000;
  font-weight: 400;
}

.container-menu h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
}

.container-menu h3 {
  text-transform: uppercase;
  position: relative;
}
.container-menu h3::after {
  position: absolute;
  background: #99E2D0;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 45px;
  content: "";
}

textarea {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 2rem;
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
}

.btn, button {
  padding: 1.5rem;
  background: linear-gradient(#FF79DA, #9356DC);
  color: #fff;
  box-shadow: 1px 5px 12px #bbb;
  cursor: pointer;
  border-radius: 22px;
  border: none;
  padding: 10px 20px;
}
.btn:hover, button:hover {
  background: linear-gradient(#9356DC, #FF79DA);
}
.btn--full-width, button--full-width {
  width: 100%;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
}

.header h1 {
  justify-content: center;
  display: flex;
}

.header .nav {
  justify-content: center;
  display: flex;
  background: #eaeaea;
  box-shadow: inset 0px 3px 10px #bbb;
  padding: 15px;
}
.header .nav li {
  list-style: none;
}

.fonctionnement ul {
  padding: 0;
  position: relative;
  margin: 0 20px;
}
.fonctionnement ul li {
  position: relative;
  padding: 15px 20px;
  background: #f6f6f6;
  box-shadow: 1px 5px 12px #bbb;
  border-radius: 15px;
  list-style: none;
  margin: 20px 0;
  color: #fff;
}
.fonctionnement ul li:hover {
  background: #ece1f9;
}
.fonctionnement ul li:hover i {
  color: #9356DC;
}
.fonctionnement ul span {
  position: absolute;
  left: -10px;
  top: calc(50% - 10px);
  border-radius: 50%;
  background: #9356DC;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.2rem;
}
.fonctionnement ul i {
  color: #7e7e7e;
  padding: 0 20px;
}
.fonctionnement ul a {
  text-decoration: none;
  color: #000;
  font-weight: 300;
}

.reserver {
  text-align: center;
}

section > div {
  margin: 15px;
}

.reserver, .restaurants {
  background: #f6f6f6;
  padding: 25px;
}

.card {
  border-radius: 20px;
  overflow: hidden;
  background: #fff;
  box-shadow: 1px 5px 12px #bbb;
  position: relative;
}
.card .container-image {
  max-height: 200px;
  overflow: hidden;
}
.card img {
  object-fit: cover;
  width: 100%;
}
.card .container-text {
  padding: 0 10px 10px 10px;
  display: flex;
}
.card .container-title {
  flex-basis: 80%;
  flex-shrink: 1;
}
.card .container-favorit {
  flex-basis: 20%;
  flex-shrink: 1;
  position: relative;
}
.card .container-favorit::before {
  display: flex;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f004";
  width: 21px;
  height: 15px;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}
.card .container-favorit:hover::before {
  -webkit-text-fill-color: inherit;
  -webkit-text-stroke-color: inherit;
  -webkit-text-stroke-width: 0;
  color: linear-gradient(-5deg, #9356DC, #FF79DA);
  color: #9356DC;
}
.card .tag-new {
  padding: 5px 8px;
  border-radius: 2px;
  font-size: 1.5rem;
  background: #99E2D0;
  color: #278870;
  position: absolute;
  right: 5%;
  top: 5%;
  font-weight: 300;
}

@media only screen and (min-width: 768px) {
  .container, .header {
    background: red;
  }
}
.top-image {
  max-height: 250px;
}
.top-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.container-menu .bloc-menu-title {
  position: relative;
  background: #f6f6f6;
  display: flex;
}
.container-menu .bloc-menu-title::before {
  content: "";
  top: -30px;
  border-radius: 30px 30px 0 0;
  background: #f6f6f6;
  width: 100%;
  height: 30px;
  position: absolute;
}
.container-menu .bloc-menu-title .bloc-title {
  flex-basis: 90%;
  flex-shrink: 1;
  padding: 0 15px;
}
.container-menu .bloc-menu-title .bloc-favorit {
  flex-basis: 10%;
  flex-shrink: 1;
}
.container-menu section {
  background: #f6f6f6;
}
.container-menu section .menu_plat {
  margin: 0;
  border-radius: 20px;
  background: #fff;
  display: flex;
  margin-bottom: 12px;
}
.container-menu section .menu_plat h3 {
  font-size: 1.1rem;
}
.container-menu section .menu_plat p {
  font-size: 1.8rem;
}
.container-menu section .menu_plat_texte {
  flex-basis: 90%;
  padding: 11px;
}
.container-menu section .menu_plat_prix {
  flex-basis: 10%;
  font-size: 1.8rem;
  font-weight: 400;
  display: flex;
  justify-content: end;
  align-items: end;
  padding: 10px;
}
.container-menu section .menu_plat_selection {
  transform: translate(100px 0);
  overflow: hidden;
  width: 0;
  background: #99E2D0;
  transition: transform 330ms ease-in-out;
  align-items: center;
  display: flex;
  justify-content: center;
  transform: translate(100px, 0);
}
.container-menu section .menu_plat_selection i {
  color: #fff;
  transform: rotate(-200deg);
  transition: transform 200ms ease-in-out;
  font-size: 30px;
}
.container-menu section .menu_plat:hover .menu_plat_selection {
  width: 100px;
  transform: translate(0, 0);
  transition: transform 200ms ease-in-out;
}
.container-menu section .menu_plat:hover .menu_plat_selection i {
  color: #fff;
  transform: rotate(0);
  transition: transform 200ms ease-in-out 0.1s;
}

/*# sourceMappingURL=style.css.map */
