@keyframes menu_opacity {
  0% {
    opacity: 0;
    bottom: -25px;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  position: relative;
}

.container,
.header {
  margin: auto;
  max-width: 768px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer {
  background: #353535;
  color: #fff;
}
.footer ul li {
  list-style: none;
}
.footer ul li i {
  padding-right: 3px;
}
.footer ul li a {
  color: #fff;
}
.footer .footer-container {
  display: flex;
  justify-content: start;
  padding: 25px;
  max-width: 1024px;
  margin: auto;
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  .footer .footer-container {
    padding: 25px 0;
  }
}
@media only screen and (min-width: 768px) {
  .footer .footer-container ul {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-between;
  }
}
body {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.4;
}

p {
  color: #000;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  font-size: 5rem;
}

.logo {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
}

h2, h3, h4 {
  font-family: "Roboto", sans-serif;
  margin: 5px 0;
}

h2 {
  margin: 15px 0;
}

h3 {
  color: #7e7e7e;
  font-size: 2rem;
  font-weight: 300;
}

.card h3 {
  color: #000;
  font-weight: 400;
}

.container-menu h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
}

.container-menu h3 {
  text-transform: uppercase;
  position: relative;
  margin: 15px 0;
}
.container-menu h3::after {
  position: absolute;
  background: #99E2D0;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 45px;
  content: "";
}

h4 {
  font-weight: 400;
  font-size: 1.8rem;
}

footer h4 {
  font-weight: 300;
}

textarea {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 2rem;
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
}

.btn, button {
  background: linear-gradient(#FF79DA, #9356DC);
  color: #fff;
  box-shadow: 1px 5px 12px #bbb;
  cursor: pointer;
  border-radius: 22px;
  border: none;
  padding: 10px 25px;
  transition: all 150ms;
}
.btn:hover, button:hover {
  background: linear-gradient(#fface8, #ae80e5);
  box-shadow: 3px 8px 8px #bbb;
  transition: all 150ms;
}
.btn--full-width, button--full-width {
  width: 100%;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
}

.header h1 {
  justify-content: center;
  display: flex;
  position: relative;
}

.header .nav {
  justify-content: center;
  display: flex;
  background: #eaeaea;
  box-shadow: inset 1px 5px 12px #bbb;
  padding: 15px;
}
.header .nav li {
  list-style: none;
}

.goback {
  width: 45px;
  height: 45px;
  font-size: 22px;
  top: 20px;
  left: 35px;
  position: absolute;
}
.goback a {
  color: #000;
}

.fonctionnement ul {
  padding: 0;
  position: relative;
  margin: 0 20px;
}
.fonctionnement ul li {
  position: relative;
  padding: 15px 20px;
  background: #f6f6f6;
  box-shadow: 1px 5px 12px #bbb;
  border-radius: 15px;
  list-style: none;
  margin: 20px 0;
  color: #fff;
}
.fonctionnement ul li:hover {
  background: #ece1f9;
}
.fonctionnement ul li:hover i {
  color: #9356DC;
}
.fonctionnement ul span {
  position: absolute;
  left: -10px;
  top: calc(50% - 10px);
  border-radius: 50%;
  background: #9356DC;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.2rem;
}
.fonctionnement ul i {
  color: #7e7e7e;
  padding: 0 20px;
}
.fonctionnement ul a {
  text-decoration: none;
  color: #000;
  font-weight: 300;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.reserver {
  text-align: center;
  flex: 100%;
}

.fonctionnement {
  padding: 25px;
}

.container {
  background: #f6f6f6;
  padding: 35px 25px;
}
.container > div {
  max-width: 1024px;
  margin: auto;
  width: 100%;
}

.main-bloc {
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
}

.bloc-card {
  margin: 20px 0;
  display: block;
}

.card {
  border-radius: 20px;
  overflow: hidden;
  background: #fff;
  box-shadow: 1px 5px 12px #bbb;
  position: relative;
}
.card:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transition: all 300ms;
}
.card .container-image {
  max-height: 200px;
  overflow: hidden;
}
.card img {
  object-fit: cover;
  width: 100%;
  transition: all 300ms;
}
.card .container-text {
  padding: 0 10px 10px 10px;
  display: flex;
}
.card .container-title {
  flex-basis: 80%;
  flex-shrink: 1;
}
.card .tag-new {
  padding: 5px 8px;
  border-radius: 2px;
  font-size: 1.5rem;
  background: #99E2D0;
  color: #278870;
  position: absolute;
  right: 5%;
  top: 5%;
  font-weight: 300;
  z-index: 999;
}

.container-favorit {
  flex-basis: 20%;
  flex-shrink: 1;
  display: flex;
  position: relative;
}
.container-favorit .fa-heart.fa-solid {
  position: absolute;
  top: 50%;
  right: 50%;
  background: #9356DC;
  background: linear-gradient(-5deg, #9356DC, #FF79DA);
  background-clip: text;
  /* if we can clip, do it */
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 150ms;
  opacity: 0;
}
.container-favorit .fa-heart.fa-regular {
  position: absolute;
  top: 50%;
  right: 50%;
  background: #9356DC;
  background: linear-gradient(-5deg, #9356DC, #FF79DA);
  background-clip: text;
  /* if we can clip, do it */
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 150ms;
  opacity: 1;
}
.container-favorit:hover .fa-solid {
  opacity: 1;
  transform: scale(1.4);
  -webkit-transform: scale(1.4);
}
.container-favorit:hover .fa-regular {
  opacity: 0;
}

@media only screen and (min-width: 768px) {
  .container,
.header {
    max-width: inherit;
  }

  .container .fonctionnement {
    padding: 0 40px;
    max-width: 1024px;
    margin: auto;
    width: 100%;
  }

  body .home {
    background-size: 100%;
    background-position: top center;
    background-image: url(../../assets/images/assiette-vide.jpg);
  }

  .header {
    flex-direction: initial;
  }
  .header__logo,
.header nav {
    max-width: 1024px;
    margin: auto;
    width: 100%;
    width: 100%;
    margin: 0;
  }
  .header .goback {
    top: 15px;
  }
  .header h1 {
    font-size: 4rem;
  }
  .header h2,
.header h3,
.header nav li {
    text-shadow: 1px 1px #fff;
  }
  .header .nav {
    box-shadow: none;
    background: inherit;
  }
  .header .nav ul {
    display: flex;
    align-items: center;
    color: #9356DC;
  }
  .header .nav i {
    color: #9356DC;
  }
  .header .reserver {
    background: inherit;
    padding-top: 90px;
  }

  .bloc-card {
    width: 45%;
    flex-grow: 1;
  }

  .fonctionnement {
    overflow: hidden;
    max-width: 1024px;
    margin: auto;
    width: 100%;
  }
  .fonctionnement h2 {
    font-size: 20px;
  }
  .fonctionnement ul {
    margin: 0;
    display: flex;
    gap: 25px;
  }
  .fonctionnement ul li {
    overflow: hidden;
    flex: 30%;
    margin: 0;
    transition: all 300ms;
    display: flex;
  }
  .fonctionnement ul li:hover {
    transform: translate(0, 5px);
    transition: all 300ms;
  }
  .fonctionnement ul span {
    position: absolute;
    left: -15px;
    top: calc(50% - 10px);
    width: 30px;
    height: 30px;
    justify-content: end;
    padding-right: 5px;
  }
}
.top-image {
  max-height: 250px;
  overflow: hidden;
}
.top-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.container-menu .bloc-menu-title {
  position: relative;
  background: #f6f6f6;
  display: flex;
}
.container-menu .bloc-menu-title::before {
  content: "";
  top: -30px;
  border-radius: 30px 30px 0 0;
  background: #f6f6f6;
  width: 100%;
  height: 30px;
  position: absolute;
}
.container-menu .bloc-menu-title .bloc-title {
  flex-basis: 90%;
  flex-shrink: 1;
  padding: 0 15px;
}
.container-menu .bloc-menu-title .bloc-favorit {
  flex-basis: 10%;
  flex-shrink: 1;
}
.container-menu .menu {
  background: #f6f6f6;
  overflow: hidden;
  padding: 0 20px;
}
.container-menu .menu_plat {
  margin: 0;
  border-radius: 20px;
  background: #fff;
  display: flex;
  margin-bottom: 12px;
  overflow: hidden;
  height: fit-content;
}
.container-menu .menu_plat.__1 {
  position: relative;
  bottom: -25px;
  opacity: 0;
  animation: menu_opacity 0.2s ease-out;
  animation-delay: 0.2s;
  animation-fill-mode: both;
}
.container-menu .menu_plat.__2 {
  position: relative;
  bottom: -25px;
  opacity: 0;
  animation: menu_opacity 0.2s ease-out;
  animation-delay: 0.3s;
  animation-fill-mode: both;
}
.container-menu .menu_plat.__3 {
  position: relative;
  bottom: -25px;
  opacity: 0;
  animation: menu_opacity 0.2s ease-out;
  animation-delay: 0.4s;
  animation-fill-mode: both;
}
.container-menu .menu_plat.__4 {
  position: relative;
  bottom: -25px;
  opacity: 0;
  animation: menu_opacity 0.2s ease-out;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}
.container-menu .menu_plat h3 {
  font-size: 1.1rem;
}
.container-menu .menu_plat p {
  font-size: 1.8rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.container-menu .menu_plat_caption {
  display: flex;
  flex: 100%;
  white-space: nowrap;
  flex-direction: column;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: all 300ms;
  padding: 15px;
}
.container-menu .menu_plat_caption h4 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.container-menu .menu_plat_caption_description {
  display: flex;
  justify-content: space-between;
}
.container-menu .menu_plat_info {
  flex: 0%;
  color: #fff;
  background-color: #99E2D0;
  text-align: center;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  transform: translateX(100px);
  cursor: pointer;
  transition: all 600ms;
}
.container-menu .menu_plat_prix {
  flex-basis: 10%;
  font-size: 1.8rem;
  font-weight: 400;
  display: flex;
  justify-content: end;
  align-items: end;
  padding: 10px;
}
.container-menu .menu_plat_selection {
  background: #99E2D0;
  align-items: center;
  display: flex;
  justify-content: center;
  transform: translate(100px, 0);
  transition: all 600ms ease-in-out;
}
.container-menu .menu_plat_selection i {
  color: #fff;
  transform: rotate(-200deg);
  transition: all 300ms ease-in-out;
  font-size: 30px;
}
.container-menu .menu_plat:hover .menu_plat_caption {
  transition: all 300ms ease-in-out;
}
.container-menu .menu_plat:hover .menu_plat_info {
  transform: translate(0, 0);
  transition: all 600ms ease-in-out;
  flex: 25%;
}
.container-menu .menu_plat:hover .menu_plat_selection {
  transform: translate(0, 0);
  transition: all 300ms ease-in-out;
}
.container-menu .menu_plat:hover .menu_plat_selection i {
  color: #fff;
  transform: rotate(0);
  transition: all 300ms 400ms;
}
.container-menu .order {
  background: #f6f6f6;
  display: flex;
  justify-content: center;
  padding: 20px 0 50px;
}

@media only screen and (min-width: 768px) {
  .container-menu {
    max-width: 1024px;
    margin: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .container-menu .menu,
.container-menu .order {
    flex: 33%;
  }
  .container-menu .bloc-menu-title {
    display: flex;
    flex: 100%;
  }
}
.loader {
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  opacity: 1;
  z-index: 9999;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  animation: loader 0.1s ease-out 2s;
  -webkit-animation: loader 0.1s ease-out 2s;
  animation-fill-mode: forwards;
}

@keyframes loader {
  0% {
    opacity: 1;
    z-index: 998;
  }
  90% {
    opacity: 0.3;
    z-index: -1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 9px solid;
  border-color: #9356DC rgba(0, 0, 0, 0);
  /* @keyframes duration | timing-function | delay |
  iteration-count | direction | fill-mode | play-state | name */
  animation: spinner 0.7s 3;
  position: fixed;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
}

@keyframes spinner {
  from {
    transform: rotate(0.5turn);
  }
}

/*# sourceMappingURL=style.css.map */
