.container-favorit {
    flex-basis: 20%;
    flex-shrink: 1;
    display: flex;
    position: relative;

    .fa-heart {
        &.fa-solid {
            @include heart;
            opacity: 0;
        }

        &.fa-regular {
            @include heart;
            opacity: 1;
        }
    }

    &:hover {
        .fa-solid {
            opacity: 1;
            transform: scale(1.4);
            -webkit-transform: scale(1.4);
            background: linear-gradient(-5deg, $colour-primary, $colour-secondary );
            /* for Chrome and Safari */
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
        }

        .fa-regular {
            opacity: 0;
        }
    }
}