.container, .header {
    margin: auto;
    max-width: 768px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer {
    background: #353535;
    color: $colour-white;
    ul li {
        list-style: none;
        i {
            padding-right: 3px;
        }
        a {
            color: $colour-white;
        }
    }
    .footer-container {
        display: flex;
        justify-content: start;
        padding: $grid-gutter;
        @include desktopposition;
    }
}


// Desktop //
@media only screen and (min-width: 768px) {

    .footer .footer-container {
        padding: $grid-gutter 0;
        ul {
            display: flex;
            flex-grow: 1;
            flex-shrink: 1;
            justify-content: space-between;

        }
    }
}