.container, .header {
    margin: auto;
    max-width: 768px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer {
    background: #353535;
    color: $colour-white;
    ul li {
        list-style: none;
        i {
            padding-right: 10px;
        }
    }
    .container {
        display: flex;
        justify-content: start;
        padding: 25px;
    }
}