body {
    font-family: 'Roboto', sans-serif;
    color: $colour-black;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.4;
}

h1, .logo {
    font-family: 'Shrikhand', cursive;
    font-weight: 500;
    font-size: 5rem;
}

h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    margin: 5px 0;
}
h3 {
    color: $colour-grey;
    font-size: 2rem;
    font-weight: 300;
}
.card h3 {
    color: $colour-black;
    font-weight: 400;
}
.container-menu h2 {
    font-family: 'Shrikhand', cursive;
    font-weight: 500;
}
.container-menu h3 {
    text-transform: uppercase;
    position: relative;
    &::after {
        position: absolute;
        background: $colour-accent;
        bottom: 0;
        left: 0;
        height: 3px;
        width: 45px;
        content: "";
    }
}
textarea {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2rem;
}
button {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
a {
    text-decoration: none;
}