.header {
    display: flex;
    flex-direction: column;
    
}
.header h1 {
    justify-content: center;
    display: flex;
}
.header .nav {
    justify-content: center;
    display: flex;
    background: #eaeaea;
    box-shadow: inset 0px 3px 10px #bbb;
    padding: 15px;
    li {
        list-style: none;
    }
}
.fonctionnement {
    ul {
        padding: 0;
        position: relative;
        margin: 0 20px;
        li {
            position: relative;
            padding: 15px 20px;
            background: lighten($colour-grey, 47%);
            box-shadow: 1px 5px 12px #bbb;
            border-radius: 15px;
            list-style: none;
            margin: 20px 0;
            color: #fff;
            &:hover {
                background: lighten(#9356DC, 33%);
                i {
                    color: #9356DC;
                }
            }
        }
        span{
            position: absolute;
            left: -10px;
            top: calc(50% - 10px);
            border-radius: 50%;
            background: #9356DC;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: 1.2rem;
        }
        i {
            color: #7e7e7e;
            padding: 0 20px;
        }
        a {
            text-decoration: none;
            color: #000;
            font-weight: 300;
        }
    }
}


.reserver {
    text-align: center;
}
section > div{
    margin: 15px;
}
.reserver ,.restaurants {
    background: lighten($colour-grey, 47%);
    padding: 25px;
}
.card {
    border-radius: 20px;
    overflow: hidden;
    background: #fff;
    box-shadow: 1px 5px 12px #bbb;
    position: relative;
    .container-image {
        max-height: 200px;
        overflow: hidden;
    }
    img {
        object-fit: cover;
        width: 100%;
    }
    .container-text {
        padding: 0 10px 10px 10px;
        display: flex;
    }
    .container-title {
        flex-basis: 80%;
        flex-shrink: 1;
    }
    .container-favorit {
        flex-basis: 20%;
        flex-shrink: 1;
        position: relative;
        &::before {
            display: flex;
            font-family: "Font Awesome 6 Free";
            font-weight: 900;
            content: "\f004";
            width: 21px;
            height: 15px;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 0;
            -webkit-text-fill-color: white;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: $colour-black;      
        }
        &:hover::before {
            // color: ;
            -webkit-text-fill-color: inherit;
            -webkit-text-stroke-color: inherit;
            -webkit-text-stroke-width: 0;
            color : linear-gradient(-5deg, #9356DC, #FF79DA );
            color :#9356DC;
            
        }
    }
    .tag-new {
        padding: 5px 8px;
        border-radius: 2px;
        font-size: 1.5rem;
        background: $colour-accent;
        color: darken($colour-accent, 40%) ;
        position: absolute;
        right: 5%;
        top: 5%;
        font-weight: 300;
    }
}


@media only screen and (min-width: 768px) {
    .container, .header {
        background: red;
    }
}