.top-image {
        max-height: 250px;;
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.container-menu {
    // position: relative;
    .bloc-menu-title {
        position: relative;
        background: lighten($colour-grey, 47%);
        display: flex;
        &::before {
            content: "";
            top: -30px;
            border-radius: 30px 30px 0 0;
            background: lighten($colour-grey, 47%);
            width: 100%;
            height: 30px;
            position: absolute;
        }
        .bloc-title {
            flex-basis: 90%;
            flex-shrink: 1;
            padding: 0 15px;
        }
        .bloc-favorit {
            flex-basis: 10%;
            flex-shrink: 1;
        }
    }
    .menu {
        background: lighten($colour-grey, 47%);
        overflow: hidden;
        padding: 0 20px;

        &_plat {
            margin: 0;
            border-radius: 20px;
            background: $colour-white;
            display: flex;
            margin-bottom: 12px;
            overflow: hidden;
            animation-duration: 3s;
            animation-name: menuslide;
            h3 {
                font-size: 1.1rem;
            }
            p {
                font-size: 1.8rem;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
            &_texte {
                flex-basis: 70%;
                padding: 11px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                h4 {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }
            &_info {
                transform: translate(50%, 0);
                transition: transform 200ms ease-in-out;
                flex-basis: 30%;
                display: flex;
                flex-grow: 1;
                flex-grow: 1;
                justify-content: start;
            }
            &_prix {
                flex-basis: 10%;
                font-size: 1.8rem;
                font-weight: 400;
                display: flex;
                justify-content: end;
                align-items: end;
                padding: 10px;
            }
            &_selection {
                // overflow: hidden;
                width: 100px;
                background: $colour-accent;
                align-items: center;
                display: flex;
                justify-content: center;
                transform: translate(100px, 0);
                transition: transform 600ms ease-in-out;
                i {
                    color: $colour-white;
                    transform: rotate(-200deg);
                    transition: transform 200ms ease-in-out;
                    font-size: 30px;
                }
            }
            &:hover {
                .menu_plat_info {
                    transform: translate(0, 0);
                    transition: transform 600ms ease-in-out;
                }
                .menu_plat_selection {
                    
                    transform: translate(0,0);
                    transition: transform 200ms ease-in-out;
                    i { 
                        //transition-delay: 3s;
                        color: $colour-white;
                        transform: rotate(0);
                        transition: transform 300ms ease-in-out .15s;
                    }
                }
            }
        }
    }
    .order {
        background: lighten($colour-grey, 47%);
        display: flex;
        justify-content: center;
        padding: 20px 0 50px ;
    }

}