.top-image {
    max-height: 250px;
    overflow: hidden;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.container-menu {

    // position: relative;
    .bloc-menu-title {
        position: relative;
        background: lighten($colour-grey, 47%);
        display: flex;

        &::before {
            content: "";
            top: -30px;
            border-radius: 30px 30px 0 0;
            background: lighten($colour-grey, 47%);
            width: 100%;
            height: 30px;
            position: absolute;
        }

        .bloc-title {
            flex-basis: 90%;
            flex-shrink: 1;
            padding: 0 15px;
        }

        .bloc-favorit {
            flex-basis: 10%;
            flex-shrink: 1;
        }
    }

    .menu {
        background: lighten($colour-grey, 47%);
        overflow: hidden;
        padding: 0 20px;


        &_plat {
            margin: 0;
            border-radius: 20px;
            background: $colour-white;
            display: flex;
            margin-bottom: 12px;
            overflow: hidden;
            height: fit-content;

            &.__1 {
                @include menu_animation(.2s);
            }
            &.__2 {
                @include menu_animation(.3s);
            }
            &.__3 {
                @include menu_animation(.4s);
            }
            &.__4 {
                @include menu_animation(.5s);
            }

            h3 {
                font-size: 1.1rem;
            }

            p {
                font-size: 1.8rem;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            &_caption {
                display: flex;
                flex: 100%;
                white-space: nowrap;
                flex-direction: column;
                text-overflow: ellipsis;
                overflow: hidden;
                transition: $transition_medium;
                padding: 15px;

                h4 {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }

                &_description {
                    display: flex;
                    justify-content: space-between;
                }
            }

            &_info {
                flex: 0%;
                color: $colour-white;
                background-color: $colour-terceira;
                text-align: center;
                white-space: nowrap;
                display: flex;
                justify-content: center;
                transform: translateX(100px);
                cursor: pointer;
                transition: $transition_slow;
            }

            &_prix {
                flex-basis: 10%;
                font-size: 1.8rem;
                font-weight: 400;
                display: flex;
                justify-content: end;
                align-items: end;
                padding: 10px;
            }

            &_selection {
                // overflow: hidden;
                // width: 100px;
                background: $colour-terceira;
                align-items: center;
                display: flex;
                justify-content: center;
                transform: translate(100px, 0);
                transition: $transition_slow ease-in-out;

                i {
                    color: $colour-white;
                    transform: rotate(-200deg);
                    transition: $transition_medium ease-in-out;
                    font-size: 30px;
                }
            }

            &:hover {
                .menu_plat_caption {
                    transition: $transition_medium ease-in-out;
                }

                .menu_plat_info {
                    transform: translate(0, 0);
                    transition: $transition_slow ease-in-out;
                    flex: 25%;
                }

                .menu_plat_selection {
                    transform: translate(0, 0);
                    transition: $transition_medium ease-in-out;

                    i {
                        color: $colour-white;
                        transform: rotate(0);
                        transition: $transition_medium 400ms;
                    }
                }
            }
        }
    }

    .order {
        background: lighten($colour-grey, 47%);
        display: flex;
        justify-content: center;
        padding: 20px 0 50px;
    }

}



// Desktop //
@media only screen and (min-width: $tablet_width) {
    .container-menu {
        @include desktopposition;
        display: flex;
        flex-wrap: wrap;

        .menu,
        .order {
            flex: 33%;
        }

        .bloc-menu-title {
            display: flex;
            flex: 100%;
        }
    }
}