@mixin btn {
    background: linear-gradient($colour-secondary, $colour-primary);
    color: $colour-white;
    box-shadow: 1px 5px 12px #bbb;
    cursor: pointer;
    border-radius: 22px;
    border: none;
    padding: 10px $grid-gutter;
    transition: $transition_speed;

    &:hover {
        background: linear-gradient(lighten($colour-secondary, 10%), lighten($colour-primary, 10%));
        box-shadow: 3px 8px 8px #bbb;
        transition: $transition_speed;
    }

    &--full-width {
        width: 100%;
        margin: 0 auto;
    }
}

@mixin desktopposition {
    max-width: $desktop_width;
    margin: auto;
    width: 100%;
}

@mixin heart {
    position: absolute;
    top: 50%;
    right: 50%;
    background: $colour-black;
    background-clip: text;
    // /* for Chrome and Safari */
    // -webkit-text-fill-color: transparent;
    // -webkit-background-clip: text;
    color: transparent;
    transition: all 150ms;
}

@mixin menu_animation($time) {
    position: relative;
    bottom: -25px;
    opacity: 0;
    animation: menu_opacity 0.2s ease-out;
    animation-delay: $time;
    animation-fill-mode: both;
}