@mixin btn {
    padding: $grid-gutter;
    background: linear-gradient($colour-secondary, $colour-primary);
    color: $colour-white;
    box-shadow: 1px 5px 12px #bbb;
    cursor: pointer;
    border-radius: 22px;
    border: none;
    padding: 10px 20px;
    &:hover{
        background: linear-gradient( $colour-primary, $colour-secondary);
    }
    &--full-width {
        width: 100%;
        margin: 0 auto;
    }
}

@mixin desktopposition {
    max-width: $desktop_width;
    margin: auto;   
    width: 100%;
}
@mixin heart {
    position: absolute;
    top: 50%;
    right: 50%;
    background: $colour-primary;
    background: linear-gradient(-5deg, $colour-primary, $colour-secondary );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-transition: all 150ms;
    transition: all 150ms;
}


@mixin menu_animation($time) {
    position:relative;
    bottom:-25px;
    opacity:0;
    animation: menu_opacity 0.2s ease-out;
    animation-delay: $time;
    animation-fill-mode: both;

}
@keyframes menu_opacity{
    0%{
        opacity:0;
        bottom:-25px;
    }
    100%{
        bottom:0;
        opacity:1;
    }
}

