@mixin btn {
    padding: $grid-gutter;
    //@include border;
    background: linear-gradient($colour-secondary, $colour-primary);
    color: $colour-white;
    box-shadow: 1px 5px 12px #bbb;
    cursor: pointer;
    border-radius: 22px;
    border: none;
    padding: 10px 20px;
    &:hover{
        background: linear-gradient( $colour-primary, $colour-secondary);
    }
    &--full-width {
        width: 100%;
        margin: 0 auto;
    }
}